.todoCardCompleted {
  color: gray;
  background-color: rgb(233, 233, 233);
}

.todoCardCompleted > p {
  text-decoration: line-through;
  color: gray;
}

.todoCardPending {
  background-color: powderblue;
  color: tomato;
}

.todoCard {
  font-family: Quicksand;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.todoCard:hover .deleteIcon {
    visibility: visible;
}

.todoCardPending > p {
  color: black;
}

.actionIcons {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.actionIcons>:hover{
  cursor: pointer;
}

.deleteIcon {
  visibility: hidden;
  color: rgb(81, 81, 81);
}
