.infoContainer>img{
    height: auto;
    max-width: 420px;
    width: 100%;
}

.infoContainer>p{
    font-family: Quicksand;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}