.modalBackground{
    background-color: rgba(32,35,41,.8);
    font-family: Quicksand;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 22rem;
    width: 70%;
    height: 15rem;
    padding: .5rem 1.8rem;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.modal>h2{
    color: tomato;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-size: 2rem;
}
