.inputForm{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 3rem;
}

#inputNewTodo{
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    outline-color: gray;
    margin-top: .5rem;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
}

.buttonContainer>button,.buttonContainer>input{
    width: 7rem;
    height: 1.7rem;
    font-family: Quicksand;
    font-weight: 600;
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    cursor: pointer;
}

.buttonContainer>button:hover,.buttonContainer>input:hover{
    box-shadow: 5px 5px 10px #888888;
}

#addTodoButton:disabled{
    background-color: lightgray;
    box-shadow: none;
}

#addTodoButton:enabled{
    border-style: solid;
    border-color: rgb(92, 137, 143);
    background-color: powderblue;
}