.todoSearch{
    display: flex;
    justify-content: center;
    margin: 10px auto 30px;
    font-family: Quicksand;
    width: 20em;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    font-size: 17px;
}